<div class="footer-container">
<aside class="wrapper clear">
	<h3>Applico is paving the way for a new type of services company.</h3>
	<p>A company focused on accelerating mobile innovation. <a title="Careers at Applico" href="http://applicoinc.com/careers">Join us</a> and help us create something amazing.</p>
	<p>Get involved with our open source projects at <a title="Applico Open Source" href="http://applico.github.io">applico.github.io</a></p>
</aside>
<footer class="wrapper clear">
	<h4>&copy; 2013 <a href="/" rel="home">Applico Inc.</a></h4>
</footer>
</div>
	
</body>
</html>