<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page.title }}</title>
	<meta name="description" content="Help Leonard"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="shortcut icon" href="http://applico.github.io/Help-Leonard/favicon.ico"/>
	<link rel="apple-touch-icon-precomposed" href="">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="canonical" href="http://applico.github.io/Help-Leonard"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="http://applico.github.io/Help-Leonard/css/screen.css">
	
</head>

<body>
	
<div class="header-container">
<header class="wrapper clear">
	<a href="/" title="Applico Engineering" rel="home">
	<img class="logo" src="http://applico.github.io/Help-Leonard/images/applico-dots.png" />
	<h1>{{ site.name }}</h1></a>
	
</header>
</div>